html {
    font-size: 10px;
    font-family: "Open Sans";
}

h3 {
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0px;
    color: white;
    padding: 20px 20px 20px 20px;
    background-color: black;
    background-image:-webkit-linear-gradient(top,black 90%, white 100%), -webkit-linear-gradient(top, black 90%, white 100%);
}

#testo {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0px;
    color: white;
    width: 500px;
    margin: 0px 50px;
}

html {
    background-color: #1a1a1a;
}

img {
    margin-left: 400px;
}

.social {
    display: block;
    color: orange;
    text-align: left;
    width: 150px;
}

a:hover {
    color: red;
}

#instagram {
    display: block;
    text-align: left;
}

#twitter {
    display: block;
    text-align: left;
}

#referral {
    display: block;
    text-align: left;
    color: white;
}

#youtube {
    color: red;
    font-size: 15px;
    text-decoration: none;
}

#youtube:hover {
    color: rgb(238, 79, 79);
    text-decoration: underline;
}

#twitch {
    color: blueviolet;
    font-size: 15px;
    text-decoration: none;
}

#twitch:hover {
    color: rgb(159, 91, 223);
    text-decoration: underline;
    
}

#menu{
    display: inline;
    color: white;
    font-size: 16px;
    font-family: "Open Sans";
}

#menuButton {
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans";
    color: black;
    padding: 8px 16px;
    border: solid 1px black;
    background: white;
    border-radius: 20px;
    box-shadow: 0 1px 3px black;
}

#email {
    display: block;
    text-align: left;
}


